
Lesson06/.vs/Lesson06/v15/.suo
Lesson06/.vs/Lesson06/v15/Browse.VC.db
Lesson06/Binaries/Win64/Lesson06Editor.target
Lesson06/Binaries/Win64/UE4Editor-Lesson06-2135.dll
Lesson06/Binaries/Win64/UE4Editor-Lesson06-2135.pdb
Lesson06/Binaries/Win64/UE4Editor-Lesson06-4891.dll
Lesson06/Binaries/Win64/UE4Editor-Lesson06-4891.pdb
Lesson06/Binaries/Win64/UE4Editor-Lesson06-8166.dll
Lesson06/Binaries/Win64/UE4Editor-Lesson06-8166.pdb
Lesson06/Binaries/Win64/UE4Editor-Lesson06.dll
Lesson06/Binaries/Win64/UE4Editor-Lesson06.pdb
Lesson06/Binaries/Win64/UE4Editor.modules
Lesson06/Intermediate/AssetRegistryCache/12424d50.bin
Lesson06/Intermediate/AssetRegistryCache/1d5167fa.bin
Lesson06/Intermediate/AssetRegistryCache/1f683343.bin
Lesson06/Intermediate/AssetRegistryCache/2657c409.bin
Lesson06/Intermediate/AssetRegistryCache/26b732ab.bin
Lesson06/Intermediate/AssetRegistryCache/29c3675e.bin
Lesson06/Intermediate/AssetRegistryCache/30e2b9c2.bin
Lesson06/Intermediate/AssetRegistryCache/3f498079.bin
Lesson06/Intermediate/AssetRegistryCache/44c3f9c9.bin
Lesson06/Intermediate/AssetRegistryCache/50a675f9.bin
Lesson06/Intermediate/AssetRegistryCache/52ed2538.bin
Lesson06/Intermediate/AssetRegistryCache/564bef5d.bin
Lesson06/Intermediate/AssetRegistryCache/5a627529.bin
Lesson06/Intermediate/AssetRegistryCache/7088d2e9.bin
Lesson06/Intermediate/AssetRegistryCache/866581fd.bin
Lesson06/Intermediate/AssetRegistryCache/8c0e1344.bin
Lesson06/Intermediate/AssetRegistryCache/8e9331e2.bin
Lesson06/Intermediate/AssetRegistryCache/94c5d5a7.bin
Lesson06/Intermediate/AssetRegistryCache/995fc7f5.bin
Lesson06/Intermediate/AssetRegistryCache/bf121eca.bin
Lesson06/Intermediate/AssetRegistryCache/c9e91a3f.bin
Lesson06/Intermediate/AssetRegistryCache/cef2e191.bin
Lesson06/Intermediate/AssetRegistryCache/cff8f772.bin
Lesson06/Intermediate/AssetRegistryCache/f0d5030c.bin
Lesson06/Intermediate/Build/ActionHistory.bin
Lesson06/Intermediate/Build/BuildRules/Lesson06ModuleRules.dll
Lesson06/Intermediate/Build/BuildRules/Lesson06ModuleRules.pdb
Lesson06/Intermediate/Build/BuildRules/Lesson06ModuleRulesSourceFiles.txt
Lesson06/Intermediate/Build/Unused/Lesson06.log
Lesson06/Intermediate/Build/Win64/Lesson06Editor/DependencyCache.bin
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Deploy.dat
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Engine/SharedPCH.Engine.cpp
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Engine/SharedPCH.Engine.h
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Engine/SharedPCH.Engine.h.obj
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Engine/SharedPCH.Engine.h.pch
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Engine/SharedPCH.Engine.h.pch.response
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/HotReloadMakefile.ubt
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Lesson06Editor.deps
Lesson06/Intermediate/Build/Win64/Lesson06Editor/Development/Lesson06Editor.uhtmanifest
Lesson06/Intermediate/Build/Win64/Lesson06Editor/FlatCPPIncludes.bin
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Definitions.Lesson06.h
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Definitions.Lesson06.h.prev
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06.cpp.obj
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06.cpp.obj.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06.cpp.obj.response.prev
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06.init.gen.cpp.obj
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06.init.gen.cpp.obj.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06.init.gen.cpp.obj.response.prev
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06GameModeBase.cpp.obj
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06GameModeBase.cpp.obj.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06GameModeBase.cpp.obj.response.prev
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06GameModeBase.gen.cpp.obj
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06GameModeBase.gen.cpp.obj.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/Lesson06GameModeBase.gen.cpp.obj.response.prev
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/OurPlayerController.cpp.obj
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/OurPlayerController.cpp.obj.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/OurPlayerController.gen.cpp.obj
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/OurPlayerController.gen.cpp.obj.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/PCLaunch.rc.res
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2135.dll.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2135.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2135.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2135.lib.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2135.suppressed.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2135.suppressed.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2160.dll.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-2160.lib.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-4891.dll.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-4891.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-4891.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-4891.lib.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-4891.suppressed.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-4891.suppressed.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-547.dll.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-547.lib.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-8166.dll.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-8166.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-8166.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-8166.lib.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-8166.suppressed.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06-8166.suppressed.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06.dll.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06.lib.response
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06.suppressed.exp
Lesson06/Intermediate/Build/Win64/UE4Editor/Development/Lesson06/UE4Editor-Lesson06.suppressed.lib
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/Lesson06.init.gen.cpp
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/Lesson06Classes.h
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/Lesson06GameModeBase.gen.cpp
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/Lesson06GameModeBase.generated.h
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/OurPlayerController.gen.cpp
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/OurPlayerController.generated.h
Lesson06/Intermediate/Build/Win64/UE4Editor/Inc/Lesson06/Timestamp
Lesson06/Intermediate/CachedAssetRegistry.bin
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ActorSequence.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AISupport.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AlembicImporter.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AndroidDeviceProfileSelector.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AndroidMedia.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AndroidMoviePlayer.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AndroidPermission.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AppleImageUtils.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AppleMoviePlayer.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AppleVision.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ArchVisCharacter.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AssetManagerEditor.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AudioCapture.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/AvfMedia.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/BackChannel.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/CableComponent.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/CharacterAI.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/CLionSourceCodeAccess.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/CodeLiteSourceCodeAccess.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Compat.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/CryptoKeys.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/CustomMeshComponent.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/DatasmithContent.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/DataValidation.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/EditableMesh.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/EditorLayout.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/EditorSettings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ExampleDeviceProfileSelector.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/FacialAnimation.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Game.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GameplayTags.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GameplayTagsEditor.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GameplayTagsList.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GeometryCache.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GitSourceControl.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/GoogleCloudMessaging.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Hardware.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/HTML5Networking.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ImgMedia.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ImmediatePhysics.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Input.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/IOSDeviceProfileSelector.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/KDevelopSourceCodeAccess.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LauncherChunkInstaller.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LevelSequenceEditor.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LightPropagationVolume.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LinearTimecode.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LinuxDeviceProfileSelector.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/LocationServicesBPLibrary.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MacGraphicsSwitching.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MagicLeap.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MagicLeapEmulator.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MagicLeapMedia.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MatineeToLevelSequence.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MediaCompositing.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MediaPlayerEditor.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MeshEditor.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MobileLauncherProfileWizard.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/MobilePatchingUtils.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/NetcodeUnitTest.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/NullSourceCodeAccess.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/NUTUnrealEngine4.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/OculusVR.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystem.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemGooglePlay.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemIOS.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemNull.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemUtils.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Paper2D.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/PerforceSourceControl.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/PhysXVehicles.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/PluginBrowser.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ProceduralMeshComponent.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/ProxyLODPlugin.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/RuntimePhysXCooking.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/Scalability.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/SpeedTreeImporter.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/SteamVR.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/SubversionSourceControl.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/TcpMessaging.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/TemplateDefs.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/UdpMessaging.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/UEAnimaLoader.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/UObjectPlugin.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/VisualStudioCodeSourceCodeAccess.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/VisualStudioSourceCodeAccess.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/WindowsMoviePlayer.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/WmfMedia.ini
Lesson06/Intermediate/Config/CoalescedSourceConfigs/XCodeSourceCodeAccess.ini
Lesson06/Intermediate/ProjectFiles/Lesson06.vcxproj
Lesson06/Intermediate/ProjectFiles/Lesson06.vcxproj.filters
Lesson06/Intermediate/ProjectFiles/Lesson06.vcxproj.user
Lesson06/Intermediate/ProjectFiles/UE4.vcxproj
Lesson06/Intermediate/ProjectFiles/UE4.vcxproj.filters
Lesson06/Intermediate/ProjectFiles/UE4.vcxproj.user
Lesson06/Intermediate/ReimportCache/3688439234.bin
Lesson06/Saved/Autosaves/Game/Maps/Main_Auto1.umap
Lesson06/Saved/Autosaves/PackageRestoreData.json
Lesson06/Saved/AutoScreenshot.png
Lesson06/Saved/Backup/BP_UMG_Main_2018-09-07-11-21-25.uasset
Lesson06/Saved/Backup/BP_UMG_Main_2018-09-07-11-32-00.uasset
Lesson06/Saved/Backup/BP_UMG_Second_2018-09-07-11-35-55.uasset
Lesson06/Saved/Backup/BP_UMG_Second_2018-09-07-11-47-54.uasset
Lesson06/Saved/Backup/BPLesson06GameModeBase_2018-09-07-11-28-11.uasset
Lesson06/Saved/Backup/Main_2018-09-07-11-28-49.umap
Lesson06/Saved/Backup/Main_2018-09-07-11-50-45.umap
Lesson06/Saved/Backup/Main_BuiltData_2018-09-07-11-50-45.uasset
Lesson06/Saved/Config/CrashReportClient/UE4CC-Windows-5900C86945A4FFFF3182B28F4A4AFE76/CrashReportClient.ini
Lesson06/Saved/Config/Windows/Compat.ini
Lesson06/Saved/Config/Windows/DeviceProfiles.ini
Lesson06/Saved/Config/Windows/Editor.ini
Lesson06/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Lesson06/Saved/Config/Windows/Engine.ini
Lesson06/Saved/Config/Windows/Game.ini
Lesson06/Saved/Config/Windows/GameUserSettings.ini
Lesson06/Saved/Config/Windows/Hardware.ini
Lesson06/Saved/Config/Windows/Input.ini
Lesson06/Saved/Config/Windows/Lightmass.ini
Lesson06/Saved/Config/Windows/OculusVR.ini
Lesson06/Saved/Config/Windows/Paper2D.ini
Lesson06/Saved/Config/Windows/PhysXVehicles.ini
Lesson06/Saved/Config/Windows/Scalability.ini
Lesson06/Saved/Config/WorldState/829521819.json
Lesson06/Saved/Logs/Lesson06.log
